---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About">
  <h1>About me</h1>
  <p>I’m Alberto. I write about coffee, PC building, training, and ideas I want to explore.</p>
  <p>This site is a place to think out loud and share notes with others.</p>
</Layout>
