---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1>Home</h1>
  <p>Hi, I’m Alberto. I enjoy coffee, PC building, training, and writing simple notes to think in public.</p>
  <p>This site is my personal space for sharing what I’m learning and working on.</p>
</Layout>
