---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1>Welcome</h1>
  <p>Hi, I’m Alberto. I enjoy exploring things in depth. Whether that means systematically trying to arrive at the best possible cup of coffee, optimizing a PC build, or refining workflows to improve productivity.</p>
  <p>This site is my creative outlet and personal lab notebook. I write here to clarify my thinking, share ideas, and uncover the common threads between sometimes wildy different domains.</p>
  <p>What ties it all together is a curiosity about how things work and a drive to understand the <em>why</em> behind them. If you would like to know more about me, you can start with <a href="/about">About me</a>.</p>
</Layout>
