---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1>Welcome</h1>
  <p>Hi, I’m Alberto.<br /><br />
  I enjoy exploring things in depth. Whether that means brewing coffee as a way of understanding process, building a PC as an exercise in systems thinking, or strength training as a study in discipline and adaptation.</p>
  <p>What fascinates me, is how small, specific practices can reveal bigger patterns. How detail, craft, and constraint shape the way we think and create.</p>
  <p>Writing here is my way of clarifying those patterns and seeing how they tie back to identity, to what these practices mean for us, and to how they make us who we are.</p>
  <p>If you would like to know more about me, you can start with <a href="/about">About me</a>.</p>
</Layout>
